// large-view stylings
@font-face {font-family:"MegaMan 2 Regular";src:url("/fonts/megaman_2.eot?") format("eot"),url("/fonts/megaman_2.woff") format("woff"),url("/fonts/megaman_2.ttf") format("truetype"),url("/fonts/megaman_2.svg#MegaMan-2") format("svg");font-weight:normal;font-style:normal;}

* {
  font-family: 'MegaMan 2 Regular';
}

#title-page {
  height: 1000px;
  width: 1000px;
  display: block;
}

.title {
  margin-left: 30%;
  display: block;
  font-size: 40px;
}

#title-text-header {

  margin-top: 30%;
  font-family: "MegaMan 2 Regular";
  float: center;
}

#title-logo {
  font-size: 150px;
  color: green;
  float: left;
  fill: red;
}

.bit-tower {
  // background: url(/images/rook.svg);
  // background-repeat: no-repeat;
  fill: #FF00FF;
  background-color: green;
}

