extends layout

block content

  .container-fluid
    div#intro.billboard
      div.holder  
        div#about-page
          img(src='/images/rook.svg')#title-logo.bit-tower.green.title
        div#about-text-div
            h1#about-text.about.center.about-title.title-text Hey, thanks for visiting!  This site is meant to be a landing spot for my life, dialoguing the chronicles of a previous Chinese language monk blossoming into a beautiful Software Developer butterfly.  
  .footer-container
    div#footer.container-fluid
      div.footer Contact