doctype html
html
  head
    title= title
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src='/javascripts/xhr.js')
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/update-form.css')
    link(href='/fonts/font.css') 
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css' rel='stylesheet')
     
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  body
    nav.navbar.navbar-default(role='navigation')
      .navbar-header
        button.navbar-toggle#selector(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        a.navbar-brand(href='http://localhost:3000/') Home 
        //- Place icon instead in the future ***********
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          //- li.active
          //-   a(href='#') About
          li.divider
            a(href='#') 
            li.dropdown
              a.dropdown-toggle.houdiniMenu(href='#', data-toggle='dropdown')
                | Places
                b.caret
              ul.dropdown-menu.lg-background
                li.lg-background
                  a.lg-background(href='http://localhost:3000/about') About
                li.divider
                li.lg-background
                  a.lg-background(href='http://localhost:3000/projects') Projects
                li.divider
                li.lg-background
                  a.lg-background(href='http://localhost:3000/blog') Blog
  block content

  block projectList

  block blogPosts
      
      
            

      