extends layout

block content

  .container#login-form-container
    .row
      h1.text-center Login
    .row
      .div.col-md-offset-3.col-md-6
        form(role='form' id='login-form' action='/login' method='post')
          div.form-group
            label(for='login-username') User Name
            input(type='text' id='login-username' name='username' class='form-control' placeholder='')
          div.form-group
            label(for='login-password') Password
            input(type='password' id='login-password' name='password' class='form-control' placeholder='')
          button(type='submit' class='btn btn-default') Login