extends layout

block content
  
  nav.navbar.navbar-default(role='navigation')
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
      a.navbar-brand(href='#') Home 
      //- Place icon instead in the future ***********
    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        //- li.active
        //-   a(href='#') About
        //- li
        //-   a(href='#') 
        li.dropdown
          a.dropdown-toggle.houdiniMenu(href='#', data-toggle='dropdown')
            | Places
            b.caret
          ul.dropdown-menu.lg-background
            li.lg-background
              a.lg-background(href='#') About
            li.lg-background
              a.lg-background(href='#') Projects
            li.divider.lg-background
            li.lg-background
              a.lg-background(href='#') Blog
            li.divider.lg-background
  .container-fluid
    div#intro.billboard
      div.holder  
        div#title-page
          img(src='/images/rook.svg')#title-logo.bit-tower.green.title
        div#title-text-div
            h1#title-text-header.center.title.title-text TYLER BORIGHT, WEB DEVELOPER
        //- ul.nav.navbar-nav.navbar-right
        //-   li
        //-     a(href='#') Link
        //-   li.dropdown
        //-     a.dropdown-toggle(href='#', data-toggle='dropdown')
        //-       | Dropdown
        //-       b.caret
        //-     ul.dropdown-menu
        //-       li
        //-         a(href='#') Action
        //-       li
        //-         a(href='#') Another action
        //-       li
        //-         a(href='#') Something else here
        //-       li.divider
        //-       li
        //-         a(href='#') Separated link
  .footer-container
    div#footer.container-fluid
      div.footer Contact
